.form-module input[type="button"] {
    background:#84C639;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size:14px;
    font-weight:bold;
}
.form-module input[type="button"]:hover {
    background:#FA1818;
}
label.error{
    color: red;
    font-size: 12px;
}

#messageBox{
    width: 30%;
    position: fixed;
    right: 10px;
    top: 60px;
    padding: 10px 0px;
    background-color: greenyellow;
    color: black;
    text-align: center;
    z-index: 5;
}
#messageBoxSuccess{
    width: 30%;
    position: fixed;
    right: 10px;
    top: 60px;
    padding: 10px 0px;
    background-color: greenyellow;
    color: black;
    text-align: center;
    z-index: 5;
}

