.productBox{
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    max-width: 350px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    color: #202020;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
}
.product img{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid;
}
.product p{
    margin-top: 5px;
    font-weight: 300;
}
.product button{
    background-color: #5ae377;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
}
.pagination_box{
 width: 80vw;
    margin: 20px auto;
}
